#skills {
    padding: 3rem 2rem;
    color: #eae0d5;
    text-align: left;
}

.skillTitle {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.column-about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    padding-bottom: 13rem;
    display: flex;
    align-items: center;
    position: relative; 
}

.gymImage {
    flex: 1;
    max-width: 300px;
    margin-right: 2rem;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    animation: slideInFromLeft 1s forwards; /* Add slide-in animation */
}

.gymImage img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.desc-container {
    flex: 2;
    font-size: 1.2rem;
    line-height: 1.6;
    animation: slideInFromRight 1s forwards; 
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .skillTitle {
        font-size: 2.5rem;
    }

    .column-about {
        flex-direction: column;
        align-items: center;
        padding-bottom: 5rem; 
    }

    .gymImage {
        margin-right: 0;
        margin-bottom: 2rem;
        max-width: 200px; 
        animation: slideInFromLeft 1s forwards; 
    }

    .desc-container {
        text-align: center;
        animation: slideInFromRight 1s forwards; 
        padding: 0 1rem; 
    }
}

@media (max-width: 480px) {
    .skillTitle {
        font-size: 2rem;
    }

    .desc-container {
        font-size: 1rem;
        padding: 0 1rem;
    }
}
